<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="aruco_marker">

  <link name="marker_link">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.01"/>
      </geometry>
      <material name="marker_material">
        <texture filename="package://aruco_marker_models/textures/ArucoMarker.png"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 0.01"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
